.self-picture {
  width: 200px;
  float: left;
  margin-right: 50px;
  border-radius:50%;
}

.name {
  margin-left: 100px;
}

.jumbotron {
  padding-bottom: 100px;
}

.project {
  text-align: center;
  background-color: gainsboro;
  padding: 1rem 2rem 2rem 2rem;
  border: 1rem solid white;
}

.project-title {
  background-color: gray;
  color: #E5e4e2;
  padding: 0.5rem;
}

.list-text{
  margin: 0;
}
