.self-picture {
  width: 200px;
  float: left;
  margin-right: 50px;
  border-radius: 50%;
  border: 5px solid darkslategray;
}

.jumbotron {
  padding-bottom: 100px;
}

.project {
  text-align: center;
  background-color: #eee;
  padding: 1rem 2rem 2rem 2rem;
  border: 1rem solid white;
  height: 27rem;
}

.project-title {
  background-color: darkslategray;
  color: #eee;
  padding: 0.5rem;
}

.list-text{
  margin: 0;
}
