.self-picture {
  float: left;
  margin-right: 5rem;
  border-radius: 50%;
  border: 5px solid darkslategray;
}

.jumbotron {
  padding-bottom: 100px;
}

.project {
  text-align: center;
  background-color: #eee;
  padding: 1rem 2rem 2rem 2rem;
  height: 27rem;
}

.project-title {
  background-color: darkslategray;
  color: #eee;
  padding: 0.5rem;
}

.project:nth-child(odd) {
  background-color: gray;
}

.list-text{
  margin: 0;
}

footer {
  background-color: darkslategray;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.row{
  padding: 3rem 0;
}
